.movies__cards {
  grid-column-gap: 24px;
  grid-row-gap: 30px;
  column-gap: 17px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 360px));
  justify-content: start;
}

@media screen and (max-width: 900px) {
  .movies__cards {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .movies__cards {
    grid-template-columns: repeat(auto-fit, minmax(339px, 339px));
    grid-column-gap: 30px;
    grid-row-gap: 36px;
  }
}

@media screen and (max-width: 767px) {
  .movies__cards {
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }
}

@media screen and (max-width: 320px) {
  .movies__cards {
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }
}

.movies__container {
  max-width: 1140px;
  margin: 0 auto;
}

@media screen and (max-width: 1150px) {
  .movies__container {
    padding: 0 30px;
  }
}
