.movies-page {
  min-height: calc(100vh - (74px + 172px));
}

@media screen and (max-width: 450px) {
  .movies-page  {
    min-height: calc(100vh - (79px + 236px));
  }
}

.movies {
  background-color: #fafafa;
  padding: 70px 0 80px;
}

@media screen and (max-width: 768px) {
  .movies {
    padding: 70px 30px 80px;
  }
}

@media screen and (max-width: 767px) {
  .movies {
    padding: 40px 10px 80px;
  }
}

@media screen and (max-width: 320px) {
  .movies {
    padding: 40px 10px 80px;
  }
}