.navtab {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
}

.navtab__container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  max-width: 520px;
  width: 100%;
  background-color: white;
  list-style: none;
  margin: 0;
  padding: 150px 0 92px;
  gap: 28px;
}

.navtab__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 0 30px;
}

.navtab__point {
  background: #303030;
  border-radius: 10px;
  min-width: 96px;
  min-height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}

.navtab__item {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 900px) {
  .navtab__list {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .navtab__list {
    margin-bottom: 15px;
  }

  .navtab__point {
    min-width: 82px;
    min-height: 26px;
    border-radius: 6px;
    margin: 0 3px;
  }

  .navtab__link {
    font-size: 10px;
    line-height: 1.6;
  }
}

.navtab__close {
  display: none;
  background-color: initial;
  background-image: url(../../images/close.svg);
  background-position: 50%;
  background-size: cover;
  border: 0;
  height: 22px;
  position: absolute;
  right: 22px;
  top: 22px;
  transition: opacity 0.3s ease;
  width: 22px;
}

@media screen and (max-width: 768px) {
  .navtab__close {
    display: block;
  }
}

.navtab__link {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.navtab__link_active {
  text-decoration: underline;
}

.navtab__item_profile {
  padding: 8px 20px;
  border-radius: 20px;
  background-color: #f4f4f4;
  margin: auto 0 0;
}

.navtab__link_profile {
  font-weight: 500;
font-size: 14px;
line-height: 16px;
color: black;
text-decoration: none;
}